body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.book{
    width: 100%;
    height: 100vh;
    display: flex;
}

.books{
    height: 800px;
    width: 500px;
    clip-path: polygon(50% 0%, 50% 51%, 50% 100%, 0% 50%);
    object-fit: cover;
    position: relative;
    left: 1122px;
    top: -1700px;
}

.book2{
    width: 100%;
    height: 100vh;
    display: flex;
}

.books2{
    height: 800px;
    width: 500px;
    clip-path: polygon(70% 0, 70% 0%, 70% 33%, 70% 64%, 70% 100%, 70% 100%, 22% 73%, 22% 36%);
    object-fit: cover;
    position: relative;
    left: 1002px;
    top: -1700px;
}